input{
  border: 1px solid #7f05fb;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 5px;
    width: 18rem;
    padding: 6px;
}
button{
  background: #c724d8;
  border: 0px;
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
  color: #fff;
}
